* {
  padding: 0;
  margin: 0; 
  
}

.header{
  color: aquamarine;
  margin-top: 80px;
  margin-bottom: 40;
  margin-left: 0px;
  padding:0;
  
}
h1{
  font-size: 84px;
  font-family:sans-serif;
  font-style: oblique;
  margin:;
  
  
}
.container{
  margin:0;
  padding: 2;
  display: flex;
}
.row{
  flex-direction: row;

}
p{
  font-size: 54px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}



  
  



